{% extends 'registration/base.html' %}
{% block title %}
<title>login</title>
{% endblock %}

{% block body %}
<div class="main_regi">
  <div class="contents_regi">
    <h1 class="center">WADACHI</h1>
    <form class="fotm_ts" method="post">
      <input type="text" placeholder="メールアドレス" name="email">
      <input type="password" placeholder="パスワード" name="password">
      <!-- TODO: 正書式に修正-->
      <p><a href="{ url_for('remind') }}">パスワードをお忘れの方はこちら</a></p>
      <!-- TODO: 修正エリア終了-->
      <button class="center">ログイン</button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- TODO: 正書式に修正-->
      <p><a href="{ url_for('signup') }}">新規登録はこちら</a></p>
    </form>
  </div>
</div>
{% endblock %}