{% extends 'registration/base.html' %}
{% block title %}
<title>signup</title>
{% endblock %}
{% block body %}
<div class="main_regi">
  <div class="contents_regi">
    <h1 class="center">WADACHI</h1>
    <form class="fotm_ts" method="post">
      <input type="text" placeholder="ユーザーネーム" name="user_name" />
      <input type="text" placeholder="メールアドレス" name="email" />
      <input type="password" placeholder="パスワード" name="password1" />
      <input type="password" placeholder="パスワード（確認用）" name="password2" />
      <button>ユーザー登録</button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </form>
    <!-- TODO: 書式修正 -->
    <p class="center"><a href="{ url_for('login') }}">ログインはこちら</a></p>
  </div>
</div>
{% endblock %}