<div id="add-channel-modal" class="modal popup">
  <div class="modal-content edit_box channel_dev">
    <div class="modal-header">
      <h3 class="center">チャンネルを作成する</h3>
      <button type="button" aria-label="Close" data-balloon-pos="left" class="close"><span><i
            class="fa-sharp fa-solid fa-circle-xmark"></i></span></button>
    </div>
    <form class="modal-body" action="/add-channel" method="POST">
      <p>チャンネル名</p>
      <input type="text" placeholder="チャンネル名" name="channel-title" class="channel-form-input" />
      <p>概要</p>
      <input type="text" placeholder="チャンネルの説明" class="channel-form-input" name="summary" />
      <!-- TODO: カテゴリの選定が果てしなかったので単純化しました。内容は要相談 -->
      <label for="nanido-select">カテゴリ1</label>
      <select id="nanido-select" name="main_category">
        <option value="">--話題の難易度を選択してください--</option>
        <option value="kantan">簡単</option>
        <option value="yayakan">やや簡単</option>
        <option value="normal">普通</option>
        <option value="yayanan">やや難しい</option>
        <option value="nan">難しい</option>
      </select>
      <label for="ctg-select">カテゴリ2</label>
      <select id="ctg-select" name="sub_category">
        <option value="">--カテゴリを選択してください--</option>
        <option value="infra">インフラ</option>
        <option value="programming">プログラミング</option>
        <option value="web">ウェブシステム</option>
        <option value="secure">セキュリティ</option>
        <option value="architect">アーキテクティング</option>
        <option value="ai">AI/データサイエンス</option>
        <option value="uiux">UI/UX</option>
        <option value="other">その他</option>
      </select>
      <button id="add-channel-confirmation-btn" type="submit">チャンネル作成</button>
    </form>
  </div>
</div>