<div id="delete-channel-modal" class="modal popup">
  <div class="modal-content edit_box">
    <div class="center">
      <h3>本当に削除しますか？</h3>
      <button type="button" aria-label="Close" data-balloon-pos="left" class="modalClose close"
        id="delete-page-close-btn"><span><i class="fa-sharp fa-solid fa-circle-xmark"></i></span></button>
    </div>
    <div class="modal-body">
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
      <a id="delete-confirm-link">
        <button id="delete-channel-confirmation-btn">削除</button>
      </a>
    </div>
  </div>
</div>