<div class="modal popup" id="">
    <form class="edit_box" method="post">
        <button type="button" aria-label="Close" data-balloon-pos="left" class="close"><span><i
                    class="fa-sharp fa-solid fa-circle-xmark"></i></span></button>
        <h3 class="center">目標を設定する</h3>
        <textarea type="text" class="study_log" aria-label="記述式テキスト（長文回答）" placeholder="新しい目標を記入する"
            style="border: 1px solid var(--grydark); border-radius: 0.4vw;"></textarea>
        <input class="btn_green btn_green_short" type="submit" value="変更を反映する">
    </form>
</div>