<div class="modal popup" id="edit-goal-modal">
  <form class="edit_box" action="/set_goal" method="post">
    <button
      type="button"
      aria-label="Close"
      data-balloon-pos="left"
      class="close edit-goal-close-btn close-btn"
    >
      <span><i class="fa-sharp fa-solid fa-circle-xmark"></i></span>
    </button>
    <h3 class="center">目標を設定する</h3>
    <h4>目標期限</h4>
    <input
      type="date"
      class="goal-limit"
      placeholder="YYYY/MM/DD（半角英数）"
      name="limit"
    >
    <h4>目標</h4>
    <textarea
      type="text"
      class="study_log"
      aria-label="記述式テキスト（長文回答）"
      placeholder="新しい目標を記入する"
      style="border: 1px solid var(--grydark); border-radius: 0.4vw"
      name="goal"
    ></textarea>
    <input
      class="btn_green btn_green_short edit-goal-close-btn close-btn"
      type="submit"
      value="変更を反映する"
    />
  </form>
</div>
goal = request.form.get('goal')
