html,
html *,
html::before,
html::after {
  margin: 0;
  padding: 0;
  float: none;
  /* position: static; */
  font-family: Arial, Helvetica, sans-serif;
  font-family: "inter", sans-serif;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--offwhite);
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  display: inline-block;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
button {
  background: var(--accentgreen);
  color: var(--white);
  border-radius: 0.4vw;
  padding: 0.5em 3em;
  margin: 16px auto;
}
textarea {
  resize: none;
  height: 100%;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 16px;
  
}

input {
  letter-spacing: 0.1em;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

input:hover,
button:hover {
  cursor: pointer;
}

.basic-btn {
  background-color: var(--navy);
}

.basic-btn:hover {
  background-color: var(--carbon);
}

.smaller-btn {
  margin: 0;
  padding: 0.2em 3em;
  font-size: 16px;
}

button.pink {
  background-color: var(--baby_pink);
}

button.pink:hover {
  background-color: var(--middle_pink);
}

button.green {
  background-color: var(--tiffany_green);
}

button.green:hover {
  background-color: var(--middle_green);
}

.span_btn{
  cursor: pointer;
}

.main-container {
  min-height: 100vh;
  padding-left: calc(200px + 1rem);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

/* row */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

/* flex */
.fx_wd {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.obj_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* space */
.mauto_dw {
  margin: auto;
}

.mt1r_wd {
  margin-top: 1rem;
}

.mt2r_wd {
  margin-top: 2rem;
}

.mb1r_wd {
  margin-bottom: 1rem;
}

.mb1r_wd {
  margin-bottom: 1rem;
}

/* font */

/* character */
.bold_wd {
  font-weight: bold;
}

.bold_700 {
  font-weight: 700;
}

.cha_white_wd {
  color: var(--white);
}

.cha_bk_wd {
  color: var(--black);
}

.cha_gre_emp2 {
  color: var(--sampleemp2);
}