:root {
  --grymiddle: #999;
  --grydark: #666;
  --grylight: #f5f7f8;
  --white: #fff;
  --black: #333;
  /* --main: #499c7e;
  --sub01: #72bf69;
  --sub02: #acecc7; */
  --main: #91c7c4;
  --pailgreen: #dfeceb;
  --offwhite: #f5f6f8;
  --middlegreen: #68bfb7;
  --accentgreen: #52b7ae;
}
