{% extends 'base.html' %}
{% block title %}
<title>home</title>
{% endblock %}
{% block body %}
<div class="index_main">
    <div class="content_ind">
        <div class="usrinfo fx_wd">
            <figure><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80"
                    height="80" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z"></path>
                        <path fill="#52B7AE"
                            d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z">
                        </path>
                    </g>
                </svg></figure>
            <div class="user_detail">
                <div class="user_inn">
                    <h2>ユーザーネーム</h2>
                    <!-- TODO: 清書式に修正 -->
                    <p class="user-name"> { users.user_name }} </p>
                </div>
                <div class="user_inn">
                    <h2>勉強開始日</h2>
                    <!-- TODO: 清書式に修正 -->
                    <p> { users.start_date }} </p>
                </div>
            </div>
        </div>
        <div class="mokuhyo">
            <h2>目標</h2>
            <!-- TODO: 清書式に修正 -->
            <p>{ users.goal }}</p>
            <span class="edit_ico span_btn" id="goal_edit_modal"><i class="fa-solid fa-pen-to-square"></i></span>
        </div>
        <div class="study_edit">
            <h2 class="center mt1r_wd">学習記録を投稿する</h2>
            <form class="study-logging" action="study-logging" method="POST">
                <h3 class="mt1r_wd">勉強した日</h3>
                <input type="date" class="study_day short" placeholder="YYYY/MM/DD（半角英数）">
                <h3 class="mt1r_wd">勉強時間</h3>
                <input type="number" class="study_time short" placeholder="勉強時間(H)">
                <h3 class="mt1r_wd">内容</h3>
                <textarea type="text" class="study_log" aria-label="記述式テキスト（長文回答）"
                    placeholder="学習記録を入力してください"></textarea>
                <input class="btn_green btn_green_short" type="submit" value="学習記録を投稿する">
            </form>
        </div>
        <div class="tologlink">
            <!-- TODO: 書式修正 -->
            <a href="{ url_for('log') }}">
                <p class="btn_green center">みんなの学習記録を見る</p>
            </a>
        </div>
        <hr>
        <div class="taikai_box">
            <label>
                <span>退会する</span>
                <input type="checkbox" name="checkbox" id="quit-modal">
            </label>
        </div>
    </div>
    {% include 'modal/goal.html' %}
    {% include 'modal/quit.html' %}
</div>
{% endblock %}
{% block script %}
{% endblock %}