{% extends 'registration/base.html' %} {% block title %}
<title>TOP</title>
<style>
  @import url(/static/css/styles.css); /* 後で消す */
</style>
{% endblock %} {% block body %}
<body>
    
    <main>
        <div class="main_ind">
            <div class="bar"></div>
            <div class="content_ind">
                <div class="usrinfo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110"
                        height="110" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"></path>
                            <path fill="#52B7AE"
                                d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </main>
</body>

</html>