{% extends 'base.html' %} {% block title %}
<title>home</title>
{% endblock %} {% block body %}
<div class="index_main">
  <div class="content_ind">
    <div class="usrinfo fx_wd">
      <figure>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="80"
          height="80"
          viewBox="0 0 24 24"
        >
          <g fill="none" fill-rule="evenodd">
            <path d="M0 0h24v24H0z"></path>
            <path
              fill="#52B7AE"
              d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z"
            ></path>
          </g>
        </svg>
      </figure>
      <div class="user_detail">
        <div class="user_inn">
          <h2>ユーザーネーム</h2>
          <p class="user-name">{{ user.user_name }}</p>
        </div>
        <div class="user_inn">
          <h2>勉強開始日</h2>
          <p>{{ user.start_date }}</p>
        </div>
      </div>
    </div>
    <div class="mokuhyo">
      <h2>目標</h2>
      <p>{{ user.goal }}</p>
      <div class="limit_wd">
        <h2>目標達成の期限</h2>
        <p class="limit_txt">limit</p>
      </div>
      <span class="edit_ico span_btn" id="edit-goal-btn"
        ><i class="fa-solid fa-pen-to-square"></i
      ></span>
    </div>
    <div class="study_edit">
      <h2 class="center mt1r_wd">学習記録を投稿する</h2>
      <form class="study-logging" method="POST" action="/add_posts">
        <!-- TODO: 勉強した日の格納は設計になかったかも！あとで削除の可能性あり -->
        <!-- <h3 class="mt1r_wd">勉強した日</h3>
        <input
          type="date"
          class="study_day short"
          placeholder="YYYY/MM/DD（半角英数）"
          name=""
        /> -->
        <h3 class="mt1r_wd">勉強時間</h3>
        <input
          type="number"
          class="study_time short"
          placeholder="勉強時間(H)"
          name="study_time"
        />
        <h3 class="mt1r_wd">内容</h3>
        <textarea
          type="text"
          class="study_log"
          aria-label="記述式テキスト（長文回答）"
          placeholder="学習記録を入力してください"
          name="post"
        ></textarea>
        <input
          class="btn_green btn_green_short"
          type="submit"
          value="学習記録を投稿する"
        />
      </form>
    </div>

    <hr />
    <div class="taikai_box">
      <button id="withdrawal-btn">退会する</button>
    </div>
  </div>
    </div>
    {% include 'modal/goal.html' %} {% include 'modal/quit.html' %}
  </div>
  {% endblock %} {% block script %}
      </div>
  <script type="text/javascript">
        const user = JSON.parse('{{ user|tojson }}');
  </script>      
  <script
    src="{{url_for('static',filename='js/modal.js')}}"
    type="text/javascript"
  ></script>
  {% endblock %}
</div>
