{% extends 'registration/base.html' %} {% block title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Study Log</title>
<style>
    @import url(/static/css/styles.css);
    /* 後で消す */
</style>
{% endblock %} {% block body %}

<body>
    <div class="log_main">
        <div class="content_ind">
            <h1>みんなの学習記録一覧</h1>
            <ul>
                <li class="personalog">
                    <button class="reaction"><i class="fa-regular fa-star"></i></button>
                    <figure class="log_left"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#52B7AE"
                                    d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z">
                                </path>
                            </g>
                        </svg>
                        <figcaption>
                            <p class="user-name">ユーザーさん</p>
                        </figcaption>
                    </figure>
                    <div class="log_right">
                        <dl>
                            <dt>目標</dt>
                            <dd>hogehogeをいついつまでになになにさせる。</dd>
                        </dl>
                        <dl>
                            <dt>内容</dt>
                            <dd>学習記録のタイトルが表示される</dd>
                        </dl>
                    </div>
                </li>
                <li class="personalog">
                    <button type="button" aria-label="Trash" data-balloon-pos="left" class="trash reaction"><span><i
                                class="fa-solid fa-trash-can"></i></span></button>
                    <figure class="log_left"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#52B7AE"
                                    d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z">
                                </path>
                            </g>
                        </svg>
                        <figcaption>
                            <p class="user-name">自分さん</p>
                        </figcaption>
                    </figure>
                    <div class="log_right">
                        <dl>
                            <dt>目標</dt>
                            <dd>hogehogeをいついつまでになになにさせる。</dd>
                        </dl>
                        <dl>
                            <dt>内容</dt>
                            <dd>学習記録のタイトルが表示される</dd>
                        </dl>
                    </div>
                </li>
                <li class="personalog">
                    <button class="reaction"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"
                            style="display: none;"></i></button>
                    <figure class="log_left"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#52B7AE"
                                    d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2ZM8.5 8.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0Zm-3.222 7.84C6.927 14.992 9.335 14 12 14s5.073.992 6.722 2.34A7.993 7.993 0 0 1 12 20a7.993 7.993 0 0 1-6.722-3.66Z">
                                </path>
                            </g>
                        </svg>
                        <figcaption>
                            <p class="user-name">ユーザーさん</p>
                        </figcaption>
                    </figure>
                    <div class="log_right">
                        <dl>
                            <dt>目標</dt>
                            <dd>hogehogeをいついつまでになになにさせる。</dd>
                        </dl>
                        <dl>
                            <dt>内容</dt>
                            <dd>学習記録のタイトルが表示される</dd>
                        </dl>
                    </div>
                </li>
            </ul>
            <div class="pagination-container">
                <p id="prev">
                    << /li>
                        <ul class="pagination"></ul>
                        <p id="next">></p>
            </div>
        </div>
    </div>
    <div class="popup mokuhyo_edit" id="">
        <div class="edit_box">
            <button type="button" aria-label="Close" data-balloon-pos="left" class="close"><span><i
                        class="fa-sharp fa-solid fa-circle-xmark"></i></span></button>
            <h3 class="center">hogehoegさんの学習記録詳細</h3>
            <h4>学習記録のタイトル</h4>
            <p>私は元来依然としてその所有帰りって事のうちがありましで。つい絶対に承諾方ももしその活動たますだっての考えるていですでも発展云っありなて、少しには切りつめますですたた。主義のいです事はことに今にけっしてたただ。おおかた張さんが換言人それほど相違をいうます徳義心その仲私か私は元来依然としてその所有帰りって事のうちがありましで。つい絶対に承諾方ももしその活動たますだっての考えるていですでも発展云っ
            </p>
        </div>
    </div>
    <div class="popup taikai_pop" id="">
        <div class="edit_box">
            <button type="button" aria-label="Close" data-balloon-pos="left" class="close"><span><i
                        class="fa-sharp fa-solid fa-circle-xmark"></i></span></button>
            <h3 class="center">選択した学習記録を削除しますか？</h3>
            <input class="btn_green btn_green_short" type="submit" value="削除する">
        </div>
    </div>

</body>

</html>